<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gestion de Stock</title>
  <link rel="stylesheet" href="../assets/style.css?v=2.0">
</head>
<body>
  <header>
    <div class="container">
      <h1>Ajouter un produit</h1>
    </div>
    <div class="login-button-container">
        <a href="gestion-produit.html" class="login-button">Retour</a>
        <a href="index.html" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>
  <main>
    <h3>Ajouter un nouveau produit</h3>
      <form class="crud-form">
        <label for="nom-produit">Nom du produit :</label>
        <input type="text" id="nom-produit" name="nom-produit" required>

        <label for="catégorie">Catégorie :</label>
        <input type="text" id="catégorie" name="catégorie" required>

        <label for="prix">Prix :</label>
        <input type="number" id="prix" name="prix" required>

        <label for="quantite">Quantité :</label>
        <input type="number" id="quantite" name="quantite" required>

        <label for="fournisseur">Fournisseur :</label>
        <input type="text" id="fournisseur" name="fournisseur" required>

        <button type="submit">Ajouter le produit</button>
      </form>
  </main>
  <footer>
    <div class="container">
        <p>&copy; 2025 - CPI A2 INFO | Projet de gestion de stock</p>
      </div>
  </footer>
</body>
</html>