{% extends 'base.html.twig' %}
 

{% block header %}

<header>
    <div class="container">
      <h1>Ajouter un fournisseur</h1>
    </div>
    <div class="login-button-container">
        <a href="index.php?uri=supplier-management" class="login-button">Retour</a>
        <a href="index.php?uri=/" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>

{% endblock %}


 {% block content %}
 
 <main>
 <h3>Ajouter un nouveau fournisseur</h3>
      <form class="crud-form">
        <label for="nom-fournisseur">Nom du fournisseur :</label>
        <input type="text" id="nom-produit" name="nom-produit" required>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="telephone">Téléphone :</label>
        <input type="tel" id="tel" name="tel" pattern="^\+?[0-9\s\-]{7,20}$" required>

        <label for="ville">Ville :</label>
        <input type="text" id="ville" name="ville" required>

        <button type="submit">Ajouter le fournisseur</button>
      </form>
</main>
 {% endblock %}