<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gestion de Stock</title>
  <link rel="stylesheet" href="../assets/style.css?=1.1" />
</head>
<body>
  <header>
    {% include 'header.html.twig' %}
  </header>

    {% block content %}{% endblock %}

    <footer>
    <div class="container">
      <p>&copy; 2025 - CPI A2 INFO | Projet de gestion de stock</p>
    </div>
  </footer>
</body>
</html>