{% extends 'base.html.twig' %}
 


  {% block header %}

<header>
    <div class="container">
      <h1>Gestion des Fournisseurs</h1>
      <p>Ajoutez, modifiez ou supprimez des fournisseurs</p>
    </div>
    <div class="login-button-container">
      <a href="index.php?uri=/" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>

{% endblock %}

 {% block content %}
 
  <main>
  <section class="search-section">
    <label for="search">Rechercher un fournisseur :</label>
    <input type="text" id="search" name="search" placeholder="Recherche par nom ou ville...">
    <button id="searchBtn" class="searchBtn">
        🔍 Rechercher
    </button>
     <!-- Barre de filtres -->
<div id="filterBar" class="filterBar">
  <select id="categoryFilter" class="categoryFilter">
    <option value="all">Tous</option>
    <option value="tech">fournisseur 1</option>
    <option value="mode">fournisseur 2</option>
    <option value="livres">fournisseur 3</option>
  </select>

  <select id="priceFilter" class="priceFilter">
    <option value="all">Toutes</option>
    <option value="low">Paris</option>
    <option value="medium">Lyon</option>
    <option value="high">Marseille</option>
  </select>
</div>
  </section>

  <section class="product-section">
    <div class="container">
      <h2>Liste des Fournisseurs</h2>
      <table>
        <thead>
          <tr>
            <th>Nom du fournisseur</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Ville</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fournisseur A</td>
            <td>contact@fournisseura.com</td>
            <td>01 23 45 67 89</td>
            <td>Paris</td>
            <td><a href="index.php?uri=modify-supplier">Modifier</a> | <a href="#">Supprimer</a></td>
          </tr>
          <tr>
            <td>Fournisseur B</td>
            <td>info@fournisseurb.com</td>
            <td>04 56 78 90 12</td>
            <td>Lyon</td>
            <td><a href="index.php?uri=modify-supplier">Modifier</a> | <a href="#">Supprimer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="ajouter">
    <a href="index.php?uri=add-supplier" class="login-button">Ajouter</a>
</div>
</main>
 {% endblock %}