{% extends 'base.html.twig' %}

{% block content %}
 
<main>
        <section class="search-section">
          <label for="search">Rechercher une catégorie :</label>
          <input type="text" id="search" name="search" placeholder="Recherche une catégorie...">
          <button id="searchBtn" class="searchBtn">
              🔍 Rechercher
          </button>
        </section>
      <nav class="nav-section">
        <div class="container nav-grid">
          <a href="produit.html">Produits de jardin</a>
          <a href="produit.html">Bricolage</a>
          <a href="produit.html">Salon</a>
          <a href="produit.html">Chambre</a>
          <a href="produit.html">Cuisine</a>
          <a href="produit.html">Salle de bain</a>
          <a href="produit.html">produit menager</a>
        </div>
      </nav>
        <!-- Ajoute d'autres produits ici -->
      </main>

 {% endblock %}