<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gestion de Stock</title>
  <link rel="stylesheet" href="../assets/style.css?v=2.0">
</head>
<body>
  <header>
    <div class="container">
      <h1>Gestion des commandes</h1>
      <p>Gérez vos commandes ici</p>
    </div>
    <div class="login-button-container">
        <a href="index.html" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>

  <section class="search-section">
    <label for="search">Rechercher une commande :</label>
    <input type="text" id="search" name="search" placeholder="Recherche par nom ou catégorie...">
    <button id="searchBtn" class="searchBtn">
        🔍 Rechercher
    </button>
  </section>

  <section class="product-section">
    <div class="container">
      djfsksd
    </div>
  </section>
    <div class="ajouter">
        <a href="ajouter-produit.html" class="login-button">Ajouter</a>
    </div>

  <footer>
    <div class="container">
      <p>&copy; 2025 - CPI A2 INFO | Projet de gestion de stock</p>
    </div>
  </footer>
</body>
</html>
