{% extends 'base.html.twig' %}
 
 {% block content %}
 
  <main>
  <section class="search-section">
    <label for="search">Rechercher un produit :</label>
    <input type="text" id="search" name="search" placeholder="Recherche par nom ou catégorie...">
    <button id="searchBtn" class="searchBtn">
        🔍 Rechercher
    </button>
    <!-- Barre de filtres -->
<div id="filterBar" class="filterBar">
  <select id="categoryFilter" class="categoryFilter">
    <option value="all">Toutes les catégories</option>
    <option value="tech">Tech</option>
    <option value="mode">Mode</option>
    <option value="livres">Livres</option>
  </select>

  <select id="priceFilter" class="priceFilter">
    <option value="all">Tous les prix</option>
    <option value="low">Moins de 50€</option>
    <option value="medium">50€ - 100€</option>
    <option value="high">Plus de 100€</option>
  </select>

  <select id="supplierFilter" class="supplierFilter">
    <option value="all">Tous les fournisseurs</option>
    <option value="amazon">Amazon</option>
    <option value="fnac">Fnac</option>
    <option value="cdiscount">Cdiscount</option>
  </select>

  <select id="supplierFilter" class="supplierFilter">
    <option value="all">Tous</option>
    <option value="stock">En stock</option>
    <option value="rupture">En rupture</option>
  </select>
</div>
</section>

  <section class="product-section">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Fournisseur</th>
            <th>Etat</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Produit 1</td>
            <td>Catégorie 1</td>
            <td>10 €</td>
            <td>50</td>
            <td>fournisseur 1</td>
            <td>En stock</td>
            <td><a href="index.php?uri=modifier-produit">Modifier</a> | <a href="#">Supprimer</a></td>
          </tr>
          <tr>
            <td>Produit 2</td>
            <td>Catégorie 2</td>
            <td>15 €</td>
            <td>30</td>
            <td>fournisseur 2</td>
            <td>En rupture</td>
            <td><a href="index.php?uri=modifier-produit">Modifier</a> | <a href="#">Supprimer</a></td>
          </tr>
          <!-- Autres produits ici -->
        </tbody>
      </table>
    </div>
  </section>
    <div class="ajouter">
        <a href="index.php?uri=ajouter-produit" class="login-button">Ajouter</a>
    </div>
  </main>

 {% endblock %}