    <div>
        <a href="index.php?uri=/" class="title">Gestion de Stock</a> 
        <p>Suivi, organisation et contrôle simplifiés de vos produits</p>
      </div>
      <div class="login-button-container">
        <a href="index.php?uri=login" class="login-button">Se connecter</a>
        <a href="index.php?uri=sign" class="login-button">S'inscrire</a>
      </div>