<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gestion de Stock</title>
  <link rel="stylesheet" href="../assets/style.css?=2.0" />
</head>
<body>
  <header>
      <div>
        <a href="index.html" class="title">Gestion de Stock</a> 
        <p>Suivi, organisation et contrôle simplifiés de vos produits</p>
      </div>
      <div class="login-button-container">
        <a href="login.html" class="login-button">Se connecter</a>
        <a href="sign.html" class="login-button">S'inscrire</a>
      </div>
  </header>

  <section class="search-section">
    <div class="container">
      <label for="search">🔍 Recherche d'article</label>
      <input type="text" id="search" placeholder="Nom du produit, catégorie, fournisseur..." />
    </div>
  </section>

  <nav class="nav-section">
    <div class="container nav-grid">
      <a href="dashboard.html">📊 Tableau de bord</a>
      <a href="gestion-produit.html">🧴 Produits</a>
      <a href="gestion-fournisseurs.html">🚚 Fournisseurs</a>
      <a href="gestion-commande.html">📦 Commandes</a>
      <a href="#">📜 Historique</a>
      <a href="#">📝 Rapports</a>
    </div>
  </nav>

  <footer>
    <div class="container">
      <p>&copy; 2025 - CPI A2 INFO | Projet de gestion de stock</p>
    </div>
  </footer>
</body>
</html>
