 {% extends 'base.html.twig' %}
 
{% block header %}

<header>
    <div class="container">
      <h1>Connexion</h1>
      <p>Accédez à votre espace de gestion</p>
    </div>
    <div class="login-button-container">
        <a href="index.php?uri=/" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>

{% endblock %}

 {% block content %}
 
 <main>
  <section class="login-section">
    <div class="container login-card">
      <form action="index.php?uri=dashboard" method="post">
        <label for="email">Adresse e-mail</label>
        <input type="email" id="email" name="email" required placeholder="ex: utilisateur@mail.com">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required placeholder="********">

        <button type="submit">Se connecter</button>
        <div class="login-help">
        <p><a href="index.php?uri=settings">Mot de passe oublié ?</a></p>
        <p><a href="index.php?uri=sign">S'inscrire</a></p>
        </div>
      </form>
      
    </div>
  </section>
</main>
 {% endblock %}

 