 {% extends 'base.html.twig' %}
 
{% block header %}

<header>
    <div class="container">
      <h1>Modifier une commande</h1>
    </div>
    <div class="login-button-container">
        <a href="index.php?uri=order-management" class="login-button">Retour</a>
        <a href="index.php?uri=/" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>

{% endblock %}

 {% block content %}
 
<main>
    <h3>Modifier une commande</h3>
      <form class="crud-form">
        <label for="num">Numéro de commande :</label>
        <input type="number" id="num" name="num" required>

        <label for="catégorie">Catégorie :</label>
        <input type="text" id="catégorie" name="catégorie" required>

        <label for="prix">Prix :</label>
        <input type="number" id="prix" name="prix" required>

        <label for="quantite">Quantité :</label>
        <input type="number" id="quantite" name="quantite" required>

        <label for="fournisseur">Fournisseur :</label>
        <input type="text" id="fournisseur" name="fournisseur" required>

        <button type="submit">Modifier la commande</button>
      </form>
  </main>
 {% endblock %}

 