 {% extends 'base.html.twig' %}
 
 {% block content %}
 
<main>
  <section class="login-section">
    <div class="container login-card">
      <form action="#" method="post">
        <label for="fullname">Nom complet</label>
        <input type="text" id="fullname" name="fullname" required placeholder="Votre nom complet">

        <label for="email">Adresse e-mail</label>
        <input type="email" id="email" name="email" required placeholder="ex: utilisateur@mail.com">

        <label for="r么le">R么le</label>
        <input type="text" id="r么le" name="r么le" required placeholder="ex: adminstrateur">


        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required placeholder="********">

        <label for="confirm-password">Confirmer le mot de passe</label>
        <input type="password" id="confirm-password" name="confirm-password" required placeholder="********">

        <button type="submit">S'inscrire</button>
      </form>
    </div>
  </section>
</main>
 {% endblock %}

 