 {% extends 'base.html.twig' %}
 
{% block header %}

<header>
    <div class="container">
      <h1>Suivre une commande</h1>
      <p>Suivez vos commande ici</p>
    </div>
    <div class="login-button-container">
        <a href="index.php?uri=order-management" class="login-button">Retour</a>
        <a href="index.php?uri=/" class="login-button">Revenir à l'accueil</a>
    </div>
  </header>

{% endblock %}

 {% block content %}
 
<main>
    <div class="progress-tracker">
        <div class="step done">
          <div class="circle">1</div>
          <span>Commandée</span>
        </div>
        <div class="line"></div>
        <div class="step done">
          <div class="circle">2</div>
          <span>Expédiée</span>
        </div>
        <div class="line"></div>
        <div class="step active">
          <div class="circle">3</div>
          <span>En livraison</span>
        </div>
        <div class="line"></div>
        <div class="step">
          <div class="circle">4</div>
          <span>Livrée</span>
        </div>
      </div>
      <section class="product-section">
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Numéro de commande</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Fournisseur</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Commande N° 0001</td>
                <td>Catégorie 1</td>
                <td>10 €</td>
                <td>50</td>
                <td>fournisseur 1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
 {% endblock %}

 